.homeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.homeContainer .LeftBar {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.homeContainer .Feed {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
    padding-left: 20vw;
    /* z-index: -2; */

    margin-top: 30px;
}

.AppBar-Class {
    height: 20;
}

.homeContainer .Feed .Feed-Wrapper {
    margin-left: 0;
}

.homeContainer .RightBar {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    justify-content: flex-start;
    margin-top: 30px;
    padding-left: 2%;
}
