/* Google Font Link */
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
// *{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: "Poppins" , sans-serif;
// }
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    margin-top: 4rem;
    background-color: rgb(255, 255, 255); /* Black*/
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.2));
    padding: 6px 14px;
    z-index: -1;
    transition: all 0.5s ease;

    .nav-list {
        padding-left: 0px;
        margin-top: 20px;
        height: 100%;
    }
}
.sidebar.open {
    width: 250px;
}
